<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

    <title>Ипотечный калькулятор</title>
</head>

<body>
<div class="container">
    <div class="row justify-content-md-center mt-10">

        <div class="col-5 information-form">
            <div class="result">
                <h1>результат</h1>
                <p>Размер кредита</p>
                <span th:text="${creditCount}"></span>

                <p>Ежемесячный платеж</p>
                <span th:text="${paymentResult}"> </span>

                <p>Переплата по кредиту</p>
                <span th:text="${overpayment}"> </span> <br>
                <!--                    <button type="button">Скачать расчеты</button>-->
            </div>
        </div>
        <div class="col-6 calculate-form">
            <form action="#" th:action="@{/}" method="post" id="calculate">
                <h1>Калькулятор</h1>
                <div class="form-group">
                    <div class="cost">
                        <label for="cost">Стоимость жилья, ₽</label>
                        <div class="def-number-input number-input safari_only">
                            <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus" type="button"></button>
                            <input class="quantity" min="1" name="cost" type="number"
                                   th:value="${cost}" required>
                            <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus" type="button"></button>
                        </div>
                    </div>
                    <div class="initial-payment">
                        <label for="payment">Первоночальный взнос, ₽</label>
                        <div class="def-number-input number-input safari_only">
                            <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus" type="button"></button>
                            <input class="quantity" min="1" type="number" name="payment"
                                   th:value="${payment}" required>
                            <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus" type="button"></button>
                        </div>
                    </div>

                    <div class="number-years">
                        <label for="creditYears">Срок, лет</label> <input type="range"
                                                                          name="creditYears" min="1" max="30"
                                                                          oninput="myFunction(this.value)"
                                                                          th:value="${creditYears}"
                                                                          required> <span id="currentValue"
                                                                                          th:text="${creditYears}"> </span>
                    </div>


                    <div class="interest-rate">
                        <label for="rate">Процентная ставка</label>
                        <div class="def-number-input number-input safari_only">
                            <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus" type="button"></button>
                            <input class="quantity" min="0.1" max="20.0" step="0.1"
                                   name="rate" value="9.5" type="number" th:value="${rate}"
                                   required>
                            <button
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus" type="button"></button>
                        </div>
                    </div>

                    <button type="submit" form="calculate" value="Submit">Рассчитать</button>

                </div>
            </form>

        </div>

    </div>
</div>


<script>
		function myFunction(myValue) {
			document.getElementById("currentValue").innerHTML = myValue;
		}

</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>
